a {
    color: inherit;
    font-family: inherit;
    text-decoration: none;
}
header {
    width: 100%;
    height: 105px;
    background-color: transparent;
    color: white;

    padding: 0 40px;
    box-sizing: border-box;

    font-family: "Lexend Giga", sans-serif;
    font-size: clamp(12px, 1.1vw, 1.1vw);

    display: flex;
    justify-content: space-between;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    z-index: 10000000;

    transition: all 0.5s;
    user-select: none;
}
.subHeader {
    display: flex;
    flex-wrap: wrap;
    gap: clamp(3vw, 40px, 40px);
    row-gap: 15px;
}
.headerLeft {
    justify-content: flex-start;
}
.headerRight {
    justify-content: flex-end;
}
.home {
    font-size: clamp(25px, 2vw, 3vw);
    font-weight: 900;
    text-align: center;

    display: flex;
    justify-content: center;
    align-items: center;

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
/* media queries */
@media screen and (min-width: 300px) and (max-width: 800px) {
    .headerLeft,
    .headerRight {
        flex-direction: column;
    }
}