body {
    width: 100vw;
    /* height: 100vw; */
    margin: 0;
    padding-top: 85px;
    background: url(../img/koneil/6.jpg) no-repeat top / cover;

    font-family: Helvetica, Arial, sans-serif;
    color: rgb(30, 30, 30);
}
.ml20 {
    margin-left: 20px;
}
.mb10 > div {
    margin-bottom: 10px;
}
.ml19 {
    margin-left: 19px;
}
.gray {
    color: rgb(120, 120, 120);
}
header {
    /* background-color: rgba(255, 255, 255, 0.7); */
    /* border-bottom: 1px solid rgb(200, 200, 200); */
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 2px solid rgb(30, 30, 30);
    color: rgb(30, 30, 30);
}
/* the big stuff */
.wrap {
    /* border: 1px solid;
    box-sizing: border-box; */
    width: 60%;
    height: 100%;
    margin: 0 auto;

    display: flex;
    flex-direction: column;
}
.subWrap {
    /* border: 1px solid;
    box-sizing: border-box; */

    display: flex;
    gap: 30px
}
.sub2Wrap {
    /* border: 1px solid;
    box-sizing: border-box; */
    width: calc((100% - 30px)/2);

    display: flex;
    flex-direction: column;
    gap: 30px;
}
.box {
    width: 100%;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 20px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 30px;
}
/* the medium stuff */
.boxTitle {
    font-size: 25px;
    margin-bottom: 10px;
}
.imgBox {
    /* border: 1px solid;
    box-sizing: border-box; */
    /* width: 180px;
    height: 180px; */
    width: calc((100% - 50px)/2);

    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}
.imgBox > img {
    border: 1px solid;
    box-sizing: border-box;
    width: 100%;
}
/* the individual details */
.pageTitle {
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.line {
    width: 80%;
    height: 2px;
    background-color: rgb(30, 30, 30);
}
/* profile */
.edit {
    width: 13px;
    height: 13px;
    background: url(../img/koneil/edit.png) no-repeat center / cover;
    cursor: pointer;
}
.userInfo > .subBoxTitle {
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 10px;
}
.addresses > .subBoxTitle {
    font-weight: 900;
    display: flex;
    gap: 20px; 
}
.addrAdd {
    font-weight: 400;
    cursor: pointer;
}
.defaultAddr {
    display: flex;
    align-items: center;
    gap: 10px;
}
/* settings */
.logout > .subBoxTitle {
    cursor: pointer;
}
.lock {
    width: 13px;
    height: 13px;
    background: url(../img/koneil/lock.png) no-repeat center / cover;
}
.mail {
    width: 13px;
    height: 13px;
    background: url(../img/koneil/email.png) no-repeat center / cover;
}
.logout > .subBoxTitle {
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 5px;
}
.newsletter > .subBoxTitle {
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 5px;
}
/* selection & bag */
.displayBox {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 10px;
}
.displayBox > .boxTitle {
    width: 100%;
}
/* orders */
.ordersWrap {
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.orderBox {
    width: 100%;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.6);
    box-sizing: border-box;
    border: 1px solid;
    border-radius: 20px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}
.pin {
    width: 13px;
    height: 13px;
    background: url(../img/koneil/pin.png) no-repeat center / cover;
}
.orderBox .subBoxTitle {
    font-weight: 900;
    display: flex;
    align-items: center;
    gap: 5px;
}
.obImgBox {
    border: 1px solid;
    width: 100px;
    height: 100px;
}
.obImgBox > img {
    width: 100%;
    height: 100%;
}
/* popups */
.layerPopup {
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7);
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999999999999;

    display: flex;
    justify-content: center;
    align-items: center;
}
#popRd,
#popRd:checked + .layerPopup {
    display: none;
}
.popups {
    width: 607px;
    /* height: 500px; */
    background-color: white;
    padding: 30px;
    border: 2px solid;
    box-sizing: border-box;
    border-radius: 30px;

    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: flex;
    flex-direction: column;
    gap: 10px;
}
/*  */
.imgPopup {
    background-color: rgba(255, 255, 255, 0.8);
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0;
}
.imgPopup > .topBar {
    width: 100%;
    justify-content: flex-end;
}
.popImgBox {
    width: calc(100% - 80px);
    margin-bottom: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.popImg {
    width: 100%;
}
.arrow {
    font-size: 50px;
    cursor: pointer;
    user-select: none;
}
/*  */
.formField {
    position: relative;
}
.formField > label {
    display: block;
    /* margin-bottom: 8px; */
    /* font-weight: 500; */
    position: absolute;
    left: 10px;
    top: 16px;
    font-size: 15px;
    color: rgb(200, 200, 200);
    pointer-events: none;
    transition: all 0.2s ease;
}
.formField input {
    width: 100%;
    /* padding: 16px 12px 8px; */
    /* border: 1px solid #ccc; */
    /* border-radius: 4px; */
    /* font-size: 16px; */
    outline: none;

    height: 50px;
    padding: 20px 10px 10px;
    box-sizing: border-box;
    border: 1px solid rgb(220, 220, 220);
    border-radius: 10px;

    font-size: 15px;

    display: flex;
    align-items: center;
}
.formField input:focus {
    border: 2px solid;
}

.formField input:focus + label,
.formField input:not(:placeholder-shown) + label {
    top: 7px;
    left: 10px;
    font-size: 12px;
    color: rgb(200, 200, 200);
}
.pop2ContentsWrap {
    /* width: 100%; */
    display: flex;
    gap: 10px;
}
.pop2ContentsWrap > .formField {
    width: calc((100% - 10px) /2);
} 
.topBar {
    /* border: 1px solid; */
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.popTitle {
    font-size: 25px;
    font-weight: 900;
}
.close {
    /* border: 1px solid; */
    width: 25px;
    height: 25px;
    display: block;

    position: relative;
    top: 0;
    left: 0;

    cursor: pointer;
    pointer-events: all;
}
.closeBar {
    width: 20px;
    height: 2px;
    background-color:rgb(30, 30, 30);

    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* transform-origin: center; */
}
.closeLeft {
    /* transform: rotateZ(45deg); */
    transform: translate(-50%, -50%) rotateZ(45deg);
}
.closeRight {
    /* transform: rotateZ(-45deg); */
    transform: translate(-50%, -50%) rotateZ(-45deg);
}
.cover {
    pointer-events: none;
}
#popEmail {
    background-color: rgb(240, 240, 240);
    color: rgb(180, 180, 180);
}
.comment {
    margin: 5px 0 0 10px;
    color:rgb(120, 120, 120);
    font-size: 13px;
}
.botBar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.delete {
    color: rgb(250, 50, 0);
}
.popButtons {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 15px;
}
.save {
    background-color:rgb(30, 30, 30);
    color: white;
    padding: 15px;
    box-sizing: border-box;
    border-radius: 10px;

    font-weight: 900;
}
.tbLogout {
    margin-bottom: 0px;
}
.popLogout {
    font-size: 15px;
}
/* footer */
footer {
    height: 156px;
    background-color: rgba(255, 255, 255, 0.2);
    /* height: 400px; */
    /* background: url(../img/koneil/63.jpg) no-repeat 50% 90% / cover; */
    margin: 70px 0 0;
    /* padding: 30px; */
    padding: 60px 30px 30px;
    /* border: 1px solid black; */
    box-sizing: border-box;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 23px;

    display: flex;

    position: relative;
    bottom: 0;
    left: 0;
    right: 0;

    /* height: 400px;
    background: url(../img/koneil/63.jpg) no-repeat 50% 90% / cover;
    padding: 300px 30px 30px;
    box-sizing: border-box; */
}
.footer_L {
    /* border: 1px solid; */
    /* box-sizing: border-box; */
    width: 50%;
}
.footer_R {
    width: 50%;
    display: flex;
}
.fR {
    width: calc(100%/3);
}
.emailAddr {
    background-color: transparent;
    border: none;
    margin-bottom: 20px;
    font-family: inherit;
    font-size: inherit;
    text-align: center;
}
.emailAddr::placeholder {
    color: rgba(255, 255, 255, 0.5);
}
.emailAddr:focus {
    outline: 2px solid rgba(255, 255, 255, 0.4);
    border-radius: 2px;
    color: white;
}
.fR1 .emailAddr {
    width: 100%;
    padding: 0 10px 0 0;
    box-sizing: border-box;
    margin-bottom: 0;
    text-align: left;
}
.fR1 .emailAddr:focus {
    outline: none;
}
.myPage {
    text-shadow: 1px 1px 8px rgba(0, 0, 0, 0.3);
}